<h1 class="mt-3">Tabla de retorno del prestamo</h1>

{{#if cuotas}}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mes</th>
            <th scope="col">Capital</th>
            <th scope="col">Interes</th>
            <th scope="col">Cuota (Capital + Interes)</th>
            <th scope="col">Deuda pendiente</th>
        </tr>
    </thead>
    <tbody>
        {{#each cuotas}}
        <tr>
            <th scope="row">{{mes}}</th>
            <th scope="row">{{capital}}</th>
            <th scope="row">{{interes}}</th>
            <th scope="row">{{cuota}}</th>
            <th scope="row">{{deuda}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<a href="/" class="btn btn-primary mt-3">Regresar</a>